<app-side-menu></app-side-menu>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://storage.googleapis.com/recetas-resources/app-resources/Slide1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="custom-title-carrusel">Mariscos</h1>
        <h3 class="custom-description-carrusel">No es necesario un tenedor de plata para comer buena comida.</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://storage.googleapis.com/recetas-resources/app-resources/Slide 2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="custom-title-carrusel">Recetas internacionales.</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://storage.googleapis.com/recetas-resources/app-resources/Slide3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="container custom-card mt-4 p-4 mt-4 mb-4" *ngFor="let receta of recetas">
  <div class="row">
    <h3 class="text-uppercase custom-card-title">{{receta.nombre}}</h3>
    <div class="col-md-12 mt-2">
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <img [src]="receta.portada"
              class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-5">
          <h5 class="custom-card-description custom-card-secondary-title text-uppercase">Descripción.</h5>
          <p class="custom-card-descripcion">{{receta.descripcion}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 mt-3" *ngIf="receta.ingredientes.length > 0">
          <h5 class="custom-card-secondary-title text-uppercase">Ingredientes.</h5>
          <table class="table caption-top table-ingredientes">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Unidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingrediente of receta.ingredientes; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td class="text-capitalize">{{ingrediente.nombre}}</td>
                <td>{{ingrediente.cantidad}}</td>
                <td class="text-capitalize">{{ingrediente.unidad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5 mt-3" *ngIf="receta.pasos.length > 0">
          <h5 class="custom-card-secondary-title text-uppercase">Preparación.</h5>

          <div class="accordion" id="accordionReceta_{{receta._id}}">
            <div class="accordion-item border border-opacity-25 border-primary" *ngFor="let paso of receta.pasos; let i = index">
              <h2 class="accordion-header" [id]="'heading_' + paso._id">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_' + paso._id"
                  aria-expanded="false" [attr.aria-controls]="'collapse_' + paso._id">
                  Paso #{{paso.numero}}
                </button>
              </h2>
              <div [id]="'collapse_' + paso._id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading_' + paso._id" [attr.data-bs-parent]="'#accordionReceta_'+receta._id">
                <div class="accordion-body">
                  <p class="font-weight">- {{paso.descripcion}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col">
        <h2>{{receta.nombre}}</h2>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img [src]="receta.portada"
          class="card-img-top" alt="...">
      </div>
    </div>

     INGREDIENTES AQUI----------


    <div class="col-md">
      <table class="table caption-top">
        <caption>Ingredientes de la receta</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad de medida</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingrediente of receta.ingredientes; let i = index;">
            <th scope="row">{{i + 1}}</th>
            <td>{{ingrediente.nombre}}</td>
            <td>{{ingrediente.cantidad}}</td>
            <td>{{ingrediente.unidad}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    ------------ PASOS DE PREPARACION AQUI ----------

    <div class="row mt-4">
      <div class="col">

      </div>
    </div> -->

  </div>
</div>


